.resume-btn {
  color: white;
  background-color: rgb(158, 46, 93);
}

.resume-btn:hover {
  opacity: 0.9;
  color: white;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

/*  h1 greet message (animated) */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main-headline {
	font-family: "Montserrat";
  background-image: url('../assets/giphy.webp');
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;

}

